body {
font-family: 'Coiny', cursive;
  width: 100%;
  all-width: 400px;
  margin: auto;
  height: 100%;
}

html {
  background: url("../images/nycskyline.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 120px;
  text-align: center;
  padding-bottom: .5px;
  /* html.colorcodes.com */
}
h2{
  text-align: center;
  font-size: 75px;
}
p {
  text-align: center;
  font-size: 300px;
}

.header1 {
  color: black;
  font-weight: bold;
  font-style: italic;
  font-size: 75px;
}

.barnard {
  font-size: 100px
}

/* class corresponds with dot i.e. if you have two header 1's but you want different styles
*/
.description {

  font-size: 50px;
}

.yellow {
  font-size: 60px;
  color: #D6EFFF;
  text-align: left;
}

.transparency {
  margin: 30px;
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60);

  .description {
  font-weight: 900;
  font-size: 3.5em;
}

.description .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.description .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 50%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.description .line1 {
  top: 0;
  left: 0;
}

.description .letter {
  display: inline-block;
  line-height: 1em;
}

a.button1{
 display:inline-block;
 padding:0.35em 1.2em;
 border:0.1em solid #FFFFFF;
 margin:0 0.3em 0.3em 0;
 border-radius:0.12em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:#75512F;
 text-align:center;
 transition: all 0.2s;
}
a.button1:hover{
 color:#000000;
 background-color:#FFFFFF;
}
@media all and (max-width:30em){
 a.button1{
  display:block;
  margin:0.4em auto;
 }
}
  /* For IE8 and earlier
}



.transparency p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}



/*
.parallax{
  background-image: "file:///Users/Cindy/Desktop/nyc.jpg";
    min-height: 50px;
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
} */
/*
#dog{
width: 20%
min-width: 10px;
}

.image {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
border-style: dotted;
border-width: medium;
border-color: orange;
}
*/
.block {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
